body { 
 background-color: var(--write);
 color: var(--blue-dark);
}

/* Estilo para o plugin SLICK */

.slick-dotted ul {
 list-style-type: none;
 text-align: center;
 /* position: relative; */
 margin-bottom: 50px;
}

.slick-dotted li {
 display: inline-block;
 margin: 10px 7px;
}

.slick-dotted button:focus{
 outline: 0;
}

.slick-dotted li button {
 width: 16px;
 height: 16px;
 border-radius: 8px;
 color: var(--blue-dark);
 border-width: 0;
 background-color: var(--blue-dark);
 opacity: 1;
 cursor: pointer;
}

li.slick-active button{
 background-color: var(--green-light);
 color: var(--green-light);
}

.slick-slide:focus{
 outline: none;
}

/* Fim do estilo do plugin */

header > section.title-port {
 height: 30rem;
}

section.title-port {
 width: 100%;
 height: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

section.title-port h1 {
 font-size: 5rem;
 font-weight: 700;
 color: var(--write);
 text-align: center;
}

section.chamada {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 height: 25rem;
 padding: 1rem 10px;
}

section.chamada h2 {
 display: flex;
 flex-direction: row;
 gap: 1rem;
 font-weight: 700;
}

section.chamada h2 > i {
 font-weight: 300;
}



.projeto-wraper {
 /* float: left; */
 width: 33.3%;
 text-align: center;
 padding: 10px 0;
 height: 400px;
}

.projeto-img {
 text-align: center;
 width: 300px;
 height: 300px;
 padding-left: 40px;
}

.projeto-img img {
 text-align: center;
 width: 300px;
 height: 300px;
}





section.contato {
 background-image: url(../img/capa-contatos.jpg);
 background-size: cover;
 background-repeat: no-repeat;
 color: var(--write);
 padding-bottom: 2rem;
}